/**
* Settings
*/

@include component(footer) {

  background: color(black, mid-light);

  section.bottom {
    background: color(black);
    padding-top: 2%;

    color: color(white, x-dark);

    h4 {
      color: color(white);
      text-transform: uppercase;
      font-weight: 300;
    }

    p {
      font-size: rem-calc(14);
    }

    ul {

      padding: 0;
      margin: 0;
      list-style: none;

      text-transform: uppercase;
      font-size: rem-calc(14);
      font-weight: 300;

      li {

      }

    }

  }

}