@include component(container-fluid) {
  width: 100%;
  max-width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: color(gray);
}

section, .sections {
  .right {
    float: right !important;
  }
  .left {
    float: left !important;
  }
}

a {
  color: color(white);
  text-decoration: none;

  &:hover {
    color: color(white, dark);
  }

}

hr {
  border: none;
  border-top: 1px solid color(black, x-light);
  border-bottom: 1px solid color(gray);
  width: 100%;
}

div.center {
  text-align: center !important;
}
