/**
* Button
*/

button {

  border: none;
  border-radius: $border-radius;
  width: 100%;
  color: color(white);

  appearance: none;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3), 0 3px 3px rgba(0, 0, 0, 0.15), 0 3px 2px -2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 -0.5px 1px rgba(0, 0, 0, 0.15);

  padding: 1.5em 3em;
  position: relative;

  &:focus {
    outline: 0;
  }

  &:active {
    outline: 0;
  }

  svg {

    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    fill: color(blue, light);

    use {
      opacity: 0;
    }
  }

}

button.primary {

  background: color(blue);

  &:hover {
    background: color(blue, mid-light);
  }

}

button.flat {
  border-radius: 0px;
  text-transform: uppercase;
}